<mat-toolbar color="accent">Incident Details<div fxLayout="row wrap" fxFlex="1 1 auto;" fxLayoutGap="8px" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-button color="primary" [matMenuTriggerFor]="menu">Menu list</button><button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button><button mat-fab color="primary" *ngIf="isAdminUser" (click)="listClick()">
      <mat-icon>list</mat-icon>
    </button><button mat-fab color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button><button mat-fab color="primary" routerLink="/profile" (click)="homeClick()">
      <mat-icon>account_circle</mat-icon>
    </button></div>
</mat-toolbar>
<div fxLayout="row wrap" style="width:100%;margin-top:50px;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="width:100%" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img [src]="[&apos;https://media.giphy.com/media/9XWiU6DWOS5KVnzvdM/giphy.gif&apos;]" style="height:500px; width:350px;"></div>
    <div class="wlcomeMessage">
      Hello {{this.loginUser}} , Welcome to IMS.</div>
  </div>
</div>