<mat-toolbar color="accent">Incident Details<div fxLayout="row wrap" fxFlex="1 1 auto;" fxLayoutGap="8px" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button><button mat-fab color="primary">
      <mat-icon>home</mat-icon>
    </button><button mat-fab color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button><button mat-fab color="primary" routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
    </button></div>
</mat-toolbar>