<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <bh-incidentmain></bh-incidentmain>
  <mat-card style="width:40%;height:">
    <mat-card-content>
      <div fxLayout="column wrap" style="padding-left:20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <h2>
          User Profile</h2>
        <div>
          <p></p>
          <h4>User </h4>{{username}}
          <p></p><br>
        </div>
        <div>
          <h4>Role </h4>
          <p>{{role}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>