/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.searchBar {
    border: 1px solid;
    margin: 31px 0 31px;
    width: 27rem;
    height: 35px;
    border-radius: 19px;
}
input.mat-input-element.serchInput {
    padding: 10px 0 0 16px;
}
.incident-table table thead {
    background-color: black;
    @extend .mat-sort-header-arrow ;
    font-weight: bold !important;
}
.mat-sort-header-arrow {
    color: white !important;
}
.incident-table table thead th{
    //color: white !important;
    @extend .mat-sort-header-arrow ;
    font-weight:bold !important;
    font-size: 16px;
}


.wlcomeMessage {
    margin-top: 20px !important;
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-size: 28px !important;
    color:darkblue !important;
    text-align: center !important;
}
// .cdk-overlay-pane .addIncident {
//     opacity: 0.1 !important
// }

